<div class="container">
  <div class="col-sm-2"></div>
    <div class="card">
      <div class="container">
        <div class="table_header">
          <div class="nudge_left"><h1>Products</h1></div>
          <table class="all_table">
            <thead>
              <tr>
                <th><%= 'Name' %></th>
                <th><%= 'Quantity' %></th>
                <th><%= 'User' %></th>
              </tr>
            </thead>

            <tbody>
              <% @items.each do |item| %>
                <tr>
                  <td><%= item.name %></td>
                  <td><%= item.quantity %></td>
                  <td><%= item.user.email %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
          <div class="row center"><%= will_paginate @items %></div>
        </div>
      </div>
    </div> 
  </div>
</div>
