<!DOCTYPE html>
<html>
  <head>
    <title>RadiateConsultingSkillTest</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- Bootstrap core CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
  </head>

  <body>
    <header id="mainNav">
      <%= render 'layouts/navigation' %>
    </header>
    <% if notice %>
      <div class="notice_class" id="notice_wrapper">
        <p class="notice"><%= notice %></p>
      </div>
    <% elsif alert %>
      <div class="notice_class" id="notice_wrapper">
        <p class="alert"><%= alert %></p>
      </div>
    <% end %>
    <div class="body_div">
      <%= yield %>
    </div>
  </body>
</html>
